---
import TitleCentered from './TitleCentered.astro';
export interface Props {
  title?: string;
  subtitle?: string;
  highlight?: string;
}
---

<section class="relative max-w-5xl py-28 mx-auto">
  <TitleCentered
    data={{
      pretitle: 'Pre titulo',
      title: 'Spot issues faster <br /> with smart indicators',
      isSticky: false,
    }}
  />

  <div class="py-4 h-full pt-8 sm:py-6 lg:py-8 lg:pt-8">
    <div id="cards" class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 text-white items-stretch">
      <slot />
    </div>
  </div>
</section>
