---
interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface ActionLink extends Link {
  type?: string;
}

interface MenuLink extends Link {
  links?: Array<Link>;
}

export interface Props {
  links?: Array<MenuLink>;
  actions?: Array<ActionLink>;
  isSticky?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
}

const { links = [] } = Astro.props;
---

<header
  class="fixed z-50 w-full h-16 max-w-md -translate-x-1/2 bg-white border border-gray-200 rounded-xl bottom-4 left-1/2 dark:bg-[#00000072] dark:backdrop-blur-xl"
  id="header"
>
  <div class="flex flex-row h-full mx-auto">
    <nav
      class="items-center justify-around w-full hidden md:flex dark:text-slate-200 h-[calc(100vh-72px)] md:h-auto overflow-y-auto md:overflow-visible md:mx-5"
      aria-label="Main navigation"
    >
      {
        links.map(({ text, href }) => (
          <a
            class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href={href}
          >
            {text}
          </a>
        ))
      }
    </nav>
  </div>
</header>
