---
import SCardButton from './SCardButton.astro';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface ActionLink extends Link {
  type?: string;
}

interface MenuLink extends Link {
  links?: Array<Link>;
}

export interface Props {
  links?: Array<MenuLink>;
  actions?: Array<ActionLink>;
  isSticky?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
}

const { links = [] } = Astro.props;
---

<header class="fixed z-50 w-full max-w-lg -translate-x-1/2 bottom-4 left-1/2" id="header">
  <div class="flex justify-end flex-row h-16 mx-auto">
    <nav
      class="border border-neutral-400 rounded-full bg-[#00000050] backdrop-blur-xl items-center justify-center w-5/6 hidden md:flex md:h-auto z-50"
      aria-label="Main navigation"
    >
      <div id="navGlow" class="w-1/4 left-0 h-full -z-20 absolute navGlow"></div>
      {
        links.map(({ text, href }) => (
          <a
            class="font-medium hover:text-gray-900 cursor-none dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href={href}
          >
            {text}
          </a>
        ))
      }
    </nav>
    <SCardButton />
  </div>
</header>
