---
interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface ActionLink extends Link {
  type?: string;
}

interface MenuLink extends Link {
  links?: Array<Link>;
}

export interface Props {
  links?: Array<MenuLink>;
  actions?: Array<ActionLink>;
  isSticky?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
}

const { links = [] } = Astro.props;
---

<header
  class="fixed z-50 w-full max-w-md -translate-x-1/2 border border-neutral-400 rounded-full bottom-4 left-1/2 bg-[#00000050] backdrop-blur-xl"
  id="header"
>
  <div class="flex flex-row h-full mx-auto">
    <nav
      class="items-center justify-center w-full hidden md:flex dark:text-neutral-300 md:h-auto"
      aria-label="Main navigation"
    >
      <div id="navGlow" class="w-1/4 left-0 h-full -z-20 absolute navGlow"></div>
      {
        links.map(({ text, href }) => (
          <a
            class="font-medium hover:text-gray-900 cursor-none dark:hover:text-white px-5 py-4 flex items-center transition duration-150 ease-in-out"
            href={href}
          >
            {text}
          </a>
        ))
      }
    </nav>
  </div>
</header>
