---
import SCard from './SCard.astro';
import SCardButton from './SCardButton.astro';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface ActionLink extends Link {
  type?: string;
}

interface MenuLink extends Link {
  links?: Array<Link>;
}

export interface Props {
  links?: Array<MenuLink>;
  actions?: Array<ActionLink>;
  isSticky?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
}

const { links = [] } = Astro.props;
---

<header class="fixed z-50 w-full max-w-[34rem] flex justify-center -translate-x-1/2 bottom-4 left-1/2" id="header">
  <div
    id="navContainer"
    class="flex items-center justify-end flex-row h-12 w-[87.5%] border backdrop-blur-xl border-[#f2f2f21a] rounded-full bg-[#f2f2f20d] shadow-[0_10px_25px_0_rgba(0,0,0,0.15)]"
  >
    <SCard />
    <nav class="w-full items-center justify-evenly hidden md:flex md:h-auto z-30" aria-label="Main navigation">
      <div id="navGlow" class="w-1/4 h-full -z-20 absolute -translate-x-1/2 navGlow"></div>
      {
        links.map(({ text, href }) => (
          <a class="navElements font-medium  cursor-none hover:text-white  py-3 flex items-center " href={href}>
            {text}
          </a>
        ))
      }
    </nav>
    <SCardButton />
  </div>
</header>
<script>
  import { gsap } from 'gsap';

  const sbutton = document.getElementById('sbutton');
  const navContainer = document.getElementById('navContainer');
  const navElements = Array.from(document.getElementsByClassName('navElements'));
  const navGlow = document.getElementById('navGlow');
  const scard = document.getElementById('scard');
  const scardClose = document.getElementById('scardClose');

  let isActive = false;

  if (sbutton && navContainer && navElements.length && scard && scardClose && navGlow) {
    window.addEventListener('DOMContentLoaded', () => {
      gsap.from(navContainer, {
        duration: 1,
        delay: 1.5,
        opacity: 0,
        y: 200,
        ease: 'Expo.easeOut',
      });
    });
    sbutton.addEventListener('click', () => {
      if (!isActive) {
        gsap.to(navContainer, {
          duration: 1,
          delay: 0.1,
          height: '195px',
          width: '100%',
          backdropFilter: 'blur(200px)',
          ease: 'Expo.easeOut',
        });
        gsap.to(scard, {
          duration: 1,
          delay: 0.3,
          opacity: 1,
          filter: 'blur(0px)',
          ease: 'Expo.easeOut',
          onStart: function () {
            gsap.set(scard, { display: 'flex' });
          },
        });
        gsap.to(navContainer, {
          duration: 0.1,
          borderRadius: '1rem',
        });
        gsap.to(navGlow, {
          duration: 0.1,
          filter: 'blur(10px)',
          opacity: 0,
        });
        gsap.to(scardClose, {
          duration: 1,
          delay: 0.3,
          opacity: 1,
          scale: 1,
          rotate: 270,
          ease: 'Expo.easeOut',
        });
        navElements.forEach((element) => {
          gsap.to(element, {
            duration: 0.01,
            scale: 0,
            filter: 'blur(10px)',
            opacity: 0,
          });
        });

        isActive = true;
      }
    });

    scardClose.addEventListener('click', () => {
      if (isActive) {
        gsap.to(navContainer, {
          duration: 1,
          delay: 0.3,
          borderRadius: '10rem',
          ease: 'Expo.easeOut',
        });
        gsap.to(navContainer, {
          duration: 1,
          delay: 0.1,
          height: '3rem',
          width: '87.5%',
          backdropFilter: 'blur(24px)',
          ease: 'Expo.easeOut',
          onComplete: function () {
            gsap.set(navContainer, { clearProps: 'all' });
          },
        });
        gsap.to(scard, {
          duration: 0.5,
          opacity: 0,
          filter: 'blur(12px)',
          ease: 'Expo.easeOut',
          onComplete: function () {
            gsap.set(scard, { clearProps: 'all' });
          },
        });
        gsap.to(navGlow, {
          duration: 0.1,
          filter: 'blur(0px)',
          opacity: 1,
          onComplete: function () {
            gsap.set(navGlow, { clearProps: 'filter,opacity' });
          },
        });
        gsap.to(scardClose, {
          duration: 1,
          delay: 0.3,
          opacity: 0,
          scale: 1,
          rotate: 0,
          ease: 'Expo.easeOut',
          onComplete: function () {
            gsap.set(scardClose, { clearProps: 'all' });
          },
        });
        navElements.forEach((element) => {
          gsap.to(element, {
            duration: 0.1,
            scale: 1,
          });
          gsap.to(element, {
            duration: 1,
            opacity: 1,
            filter: 'blur(0px)',
            ease: 'power2.out',
            onComplete: function () {
              gsap.set(element, { clearProps: 'all' });
            },
          });
        });

        isActive = false;
      }
    });
  }
</script>
