---
import SCard from './SCard.astro';
import SCardButton from './SCardButton.astro';

interface Link {
  text?: string;
  href?: string;
}

interface MenuLink extends Link {
  links?: Array<Link>;
}

export interface Props {
  links?: Array<MenuLink>;
  isHomePage?: boolean;
}

const { links = [], back, isHomePage } = Astro.props;
---

<header class="fixed z-50 w-full max-w-[34rem] flex justify-center -translate-x-1/2 bottom-4 left-1/2" id="header">
  <div
    id="navContainer"
    class={`flex items-center justify-end flex-row h-12 ${
      isHomePage ? 'w-[87.5%]' : 'w-4/12'
    } border backdrop-blur-xl border-[#f2f2f21a] rounded-full bg-[#f2f2f20d] shadow-[0_10px_25px_0_rgba(0,0,0,0.15)]`}
  >
    <SCard />

    <nav class="w-full items-center justify-evenly hidden md:flex md:h-auto z-30" aria-label="Main navigation">
      <div id="navGlow" class={`${isHomePage ? 'w-1/4 h-full -z-20 absolute -translate-x-1/2 navGlow' : 'hidden'}`}>
      </div>
      {
        !isHomePage ? (
          <button id="goBack" class="flex items-center hover:text-white">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="-rotate-90 mr-2"
              width="1.75rem"
              height="1.75rem"
              viewBox="0 0 24 24"
              stroke-width="1.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M16 9l-4 -4" />
              <path d="M8 9l4 -4" />
            </svg>
            {back.text}
          </button>
        ) : (
          links.map(({ text, href }) => (
            <a
              class="navElements font-medium cursor-none hover:text-white py-3 flex items-center magnetic"
              data-strength=".75"
              href={href}
            >
              {text}
            </a>
          ))
        )
      }
    </nav>
    <SCardButton isHomePage={isHomePage} />
  </div>
</header>

<script>
  //TODO: SEPARAR LAS COMPROBACIONES DE TYPESCRIPT PARA PODER ELIMINAR SCCARD Y DERIVADOS DENTRO DE UN ITEM DEL PORTAFOLIO
  import { gsap } from 'gsap';

  const sbutton = document.getElementById('sbutton');
  const navContainer = document.getElementById('navContainer');
  const navElements = Array.from(document.getElementsByClassName('navElements'));
  const navGlow = document.getElementById('navGlow');
  const scard = document.getElementById('scard');
  const scardClose = document.getElementById('scardClose');
  const enlaces = document.querySelectorAll('a[data-nav="animate"]');
  const main = document.querySelector('main');
  const backButton = document.getElementById('goBack');
  let isActive = false;

  if (backButton) {
    backButton.addEventListener('click', () => {
      window.history.back();
    });
  }
  if (sbutton && navContainer && navElements.length && scard && scardClose && navGlow) {
    window.addEventListener('DOMContentLoaded', () => {
      gsap.from(navContainer, {
        duration: 1.5,
        delay: 1.75,
        opacity: 0,
        y: 100,
        ease: 'Expo.easeOut',
      });

      enlaces.forEach((enlace) => {
        enlace.addEventListener('click', (e) => {
          e.preventDefault();
          const destino = enlace.getAttribute('href');
          if (destino) {
            gsap.to(main, {
              duration: 0.75,
              opacity: 0,
              ease: 'power3.out',
              onComplete: () => {
                window.location.href = destino;
              },
            });
            gsap.to(navContainer, {
              duration: 0.5,
              opacity: 0,
              y: 50,
              ease: 'power3.in',
            });
          }
        });
      });
    });
    sbutton.addEventListener('click', () => {
      if (!isActive) {
        gsap.to(navContainer, {
          duration: 1,
          delay: 0.1,
          height: '195px',
          width: '100%',
          backdropFilter: 'blur(200px)',
          ease: 'Expo.easeOut',
        });
        gsap.to(scard, {
          duration: 1,
          delay: 0.3,
          opacity: 1,
          filter: 'blur(0px)',
          ease: 'Expo.easeOut',
          onStart: function () {
            gsap.set(scard, { display: 'flex' });
          },
        });
        gsap.to(navContainer, {
          duration: 0.1,
          borderRadius: '1rem',
        });
        gsap.to(navGlow, {
          duration: 0.1,
          filter: 'blur(10px)',
          opacity: 0,
        });
        gsap.to(scardClose, {
          duration: 1,
          delay: 0.3,
          opacity: 1,
          scale: 1,
          rotate: 270,
          ease: 'Expo.easeOut',
        });
        navElements.forEach((element) => {
          gsap.to(element, {
            duration: 0.01,
            scale: 0,
            filter: 'blur(10px)',
            opacity: 0,
          });
        });

        isActive = true;
      }
    });

    scardClose.addEventListener('click', () => {
      if (isActive) {
        gsap.to(navContainer, {
          duration: 1,
          delay: 0.3,
          borderRadius: '10rem',
          ease: 'Expo.easeOut',
        });
        gsap.to(navContainer, {
          duration: 1,
          delay: 0.1,
          height: '3rem',
          width: '87.5%',
          backdropFilter: 'blur(24px)',
          ease: 'Expo.easeOut',
          onComplete: function () {
            gsap.set(navContainer, { clearProps: 'all' });
          },
        });
        gsap.to(scard, {
          duration: 0.5,
          opacity: 0,
          filter: 'blur(12px)',
          ease: 'Expo.easeOut',
          onComplete: function () {
            gsap.set(scard, { clearProps: 'all' });
          },
        });
        gsap.to(navGlow, {
          duration: 0.1,
          filter: 'blur(0px)',
          opacity: 1,
          onComplete: function () {
            gsap.set(navGlow, { clearProps: 'filter,opacity' });
          },
        });
        gsap.to(scardClose, {
          duration: 1,
          delay: 0.3,
          opacity: 0,
          scale: 1,
          rotate: 0,
          ease: 'Expo.easeOut',
          onComplete: function () {
            gsap.set(scardClose, { clearProps: 'all' });
          },
        });
        navElements.forEach((element) => {
          gsap.to(element, {
            duration: 0.1,
            scale: 1,
          });
          gsap.to(element, {
            duration: 1,
            opacity: 1,
            filter: 'blur(0px)',
            ease: 'power2.out',
            onComplete: function () {
              gsap.set(element, { clearProps: 'all' });
            },
          });
        });

        isActive = false;
      }
    });
  }
</script>
