---
---

<div class="navElements w-1/6 z-50 h-full flex justify-center items-center">
  <button id="sbutton" class="w-full cursor-none flex justify-center border-l border-white">
    <iframe class="w-full" src="https://lottie.host/?file=9625233a-6679-4874-80a4-0f09e191ecf8/16IPXONNAF.json"
    ></iframe></button
  >
</div>
