---
---

<div class="navElements w-1/6 z-50 h-full flex justify-center items-center">
  <button id="sbutton" class="w-full h-full cursor-none flex justify-center shadow-[-16px_0px_0px_-15px_#fff]">
    <iframe class="w-9/12 h-full" src="https://lottie.host/?file=47fdbfef-1eb5-465d-8245-74c5633d1b3a/dkdCZbEmRR.json"
    ></iframe></button
  >
</div>
