---
import TitleCentered from './TitleCentered.astro';
---

<style>
  .borderAlt {
    border: solid #2d263a;
    border-width: 2px 2px 0 2px;
    border-radius: 1rem 1rem 0 0px;
    padding: 0.75rem 2rem 0.75rem 2rem;
    box-shadow: -2px 20px 0px #0a0118;
    position: relative;
  }
  .borderAlt:before {
    border: solid #2d263a;
    border-width: 2px 1px 0 0px;
    content: '';
    height: 32px;
    left: -25px;
    position: absolute;
    width: 18px;
    border-top-right-radius: 40px;
    transform: translateY(67%) rotate(90deg);
    box-shadow: 1px -11px 0px #0a0118;
  }
  .borderGlow {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: solid #2d263a;
    background: radial-gradient(
      40.23% 100% at 20% 0%,
      rgb(25 17 41) 0%,
      rgba(10, 1, 24, 1) 100%,
      rgba(10, 1, 24, 1) 100%
    );
    border-width: 2px 2px 0 2px;
    border-radius: 1rem 0 0 0;
  }
  .borderGlow:before {
    content: '';
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.75) 20%, rgba(0, 0, 0, 0) 80%);
    width: 100%;
    position: relative;
    display: flex;
    height: 0.75px;
  }
  .borderGlow::after {
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(10 1 24) 100%);
    width: 102%;
    left: -1%;
    position: relative;
    display: flex;
    height: 8rem;
  }
  .SAnimate:nth-of-type(2) .borderGlow {
    background: radial-gradient(
      40.23% 100% at 20% 0%,
      rgb(25 17 41) 0%,
      rgba(10, 1, 24, 1) 100%,
      rgba(10, 1, 24, 1) 100%
    );
    border-width: 2px 2px 0 2px;
    border-radius: 1rem 1rem 0 0;
  }
  .SAnimate:nth-of-type(2) .borderGlow:before {
    content: '';
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.75) 20%, rgba(0, 0, 0, 0) 65%);
    width: 100%;
    position: relative;
    display: flex;
    height: 0.75px;
  }
  .SAnimate:nth-of-type(2) .borderAlt::after {
    border: solid #2d263a;
    border-width: 2px 2px 0 0px;
    content: '';
    height: 32px;
    right: -19px;
    position: absolute;
    width: 18px;
    border-top-right-radius: 40px;
    transform: translateY(45%) rotate(180deg);
    box-shadow: 1px -11px 0px #0a0118;
  }
  .SAnimate:nth-of-type(2) div {
    box-shadow: 175px 0px 30px -15px rgb(10 1 24 / 75%);
  }
  .SAnimate:nth-of-type(3) .borderGlow {
    background: radial-gradient(
      40.23% 100% at 20% 0%,
      rgb(25 17 41) 0%,
      rgba(10, 1, 24, 1) 100%,
      rgba(10, 1, 24, 1) 100%
    );
    border-width: 2px 2px 0 2px;
    border-radius: 1rem 1rem 0 0;
  }
  .SAnimate:nth-of-type(3) .borderGlow:before {
    content: '';
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.75) 20%, rgba(0, 0, 0, 0) 50%);
    width: 100%;
    position: relative;
    display: flex;
    height: 0.75px;
  }
  .SAnimate:nth-of-type(3) .borderAlt::after {
    border: solid #2d263a;
    border-width: 2px 2px 0 0px;
    content: '';
    height: 32px;
    right: -19px;
    position: absolute;
    width: 18px;
    border-top-right-radius: 40px;
    transform: translateY(47%) rotate(180deg);
    box-shadow: 6px -11px 0px 5px #0a0118;
  }
  .SAnimate:nth-of-type(3) div {
    box-shadow: 175px 0px 30px -15px rgb(10 1 24 / 75%);
  }
</style>
<section class="max-w-5xl mx-auto flex flex-col relative h-[calc(100vh+5rem)] pt-28 mb-[30.375rem]" id="proyectos">
  <TitleCentered
    data={{
      title: 'Spot issues faster <br /> with smart indicators',
      subtitle: 'Pre titulo',
      isSticky: true,
    }}
  />
  <div class="w-full">
    <div class="SAnimate sticky top-[19.7rem]" data-sadelay="0">
      <div class="mx-auto">
        <div class="flex justify-end w-full">
          <h3 class="uppercase borderAlt bg-[#0a0118]">Experience</h3>
        </div>

        <section class="w-full borderGlow">
          <ul class="mx-10-20 flex flex-col">
            <li class="relative flex flex-col">
              <h4 class="text-white px-8 pb-4 pt-8 basis-full items-center rounded-10">
                Co-Founder, Designer &amp; Developer @ Divisa.
              </h4>
              <p class="text-secondary px-8">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde sit architecto corrupti ex? Vero quis,
                quod unde quas adipisci porro molestiae, qui fuga aliquid, expedita sunt totam dignissimos sapiente
                dolor
              </p>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <div class="SAnimate sticky top-[19.7rem]" data-sadelay="0.15">
      <div class="mx-auto">
        <div class="flex justify-end w-[86%]">
          <h3 class="uppercase borderAlt bg-[#0a0118]">Experience</h3>
        </div>
        <section class="w-full borderGlow">
          <ul class="mx-10-20 flex flex-col">
            <li class="relative flex flex-col">
              <h4 class="text-white px-8 pb-4 pt-8 basis-full items-center rounded-10">
                Co-Founder, Designer &amp; Developer @ Divisa.
              </h4>
              <p class="text-secondary px-8">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde sit architecto corrupti ex? Vero quis,
                quod unde quas adipisci porro molestiae, qui fuga aliquid, expedita sunt totam dignissimos sapiente
                dolor
              </p>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <div class="SAnimate sticky top-[19.7rem]" data-sadelay="0.3">
      <div class="mx-auto">
        <div class="flex justify-end w-[72%]">
          <h3 class="uppercase borderAlt bg-[#0a0118]">Experience</h3>
        </div>
        <section class="w-full borderGlow">
          <ul class="mx-10-20 flex flex-col">
            <li class="relative flex flex-col">
              <h4 class="text-white px-8 pb-4 pt-8 basis-full items-center rounded-10">
                Co-Founder, Designer &amp; Developer @ Divisa.
              </h4>
              <p class="text-secondary px-8">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde sit architecto corrupti ex? Vero quis,
                quod unde quas adipisci porro molestiae, qui fuga aliquid, expedita sunt totam dignissimos sapiente
                dolor
              </p>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</section>
