---
---

<style>
  .border {
    border: solid #2d263a;
    border-width: 2px 2px 0 2px;
    border-radius: 1rem 1rem 0 0px;
    padding: 0.75rem 2rem 0.75rem 2rem;
    box-shadow: -2px 20px 0px #0a0118;
    position: relative;
  }
  .border:before {
    border: solid #2d263a;
    border-width: 2px 1px 0 0px;
    content: '';
    height: 32px;
    left: -25px;
    position: absolute;
    width: 18px;
    border-top-right-radius: 40px;
    transform: translateY(65%) rotate(90deg);
    box-shadow: 1px -11px 0px #0a0118;
  }
  .borderGlow {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: solid #2d263a;
    background: radial-gradient(
      40.23% 100% at 20% 0%,
      rgb(25 17 41) 0%,
      rgba(10, 1, 24, 1) 100%,
      rgba(10, 1, 24, 1) 100%
    );
    border-width: 2px 2px 0 2px;
    border-radius: 1rem 0 0 0;
  }
  .borderGlow:before {
    content: '';
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.75) 20%, rgba(0, 0, 0, 0) 80%);
    width: 100%;
    position: relative;
    display: flex;
    height: 0.75px;
  }
  .borderGlow::after {
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(10 1 24) 100%);
    width: 102%;
    left: -1%;
    position: relative;
    display: flex;
    height: 8rem;
  }
  .sticky-section:nth-of-type(2) .borderGlow {
    background: radial-gradient(
      40.23% 100% at 20% 0%,
      rgb(25 17 41) 0%,
      rgba(10, 1, 24, 1) 100%,
      rgba(10, 1, 24, 1) 100%
    );
    border-width: 2px 2px 0 2px;
    border-radius: 1rem 1rem 0 0;
  }
  .sticky-section:nth-of-type(2) .borderGlow:before {
    content: '';
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.75) 20%, rgba(0, 0, 0, 0) 65%);
    width: 100%;
    position: relative;
    display: flex;
    height: 0.75px;
  }
  .sticky-section:nth-of-type(2) .border::after {
    border: solid #2d263a;
    border-width: 2px 2px 0 0px;
    content: '';
    height: 32px;
    right: -19px;
    position: absolute;
    width: 18px;
    border-top-right-radius: 40px;
    transform: translateY(45%) rotate(180deg);
    box-shadow: 1px -11px 0px #0a0118;
  }
</style>
<section class="flex relative h-screen pt-16">
  <div class="max-w-5xl w-full mx-auto">
    <div class="mx-auto mb-20-60 rounded-10 sticky-section" data-start="2000" data-end="2500">
      <div class="flex justify-end w-full">
        <h3 class="uppercase border bg-[#0a0118]">Experience</h3>
      </div>
      <section class="w-full borderGlow">
        <ul class="mx-10-20 flex flex-col">
          <li class="relative flex">
            <h4 class="flex basis-full items-center rounded-10 p-10-20 text-16-40 leading-tight text-secondary">
              <a class="text-white p-8" href="http://divisa.design" target="_blank" rel="noopener noreferrer"
                >Co-Founder, Designer &amp; Developer @ Divisa.</a
              >
            </h4>
          </li>
        </ul>
      </section>
    </div>
    <div class="mx-auto mb-20-60 rounded-10 sticky-section" data-start="2328" data-end="2500">
      <div class="flex justify-end w-[86%]">
        <h3 class="uppercase border bg-[#0a0118]">Experience</h3>
      </div>
      <section class="w-full borderGlow">
        <ul class="mx-10-20 flex flex-col">
          <li class="relative flex">
            <h4 class="flex basis-full items-center rounded-10 p-10-20 text-16-40 leading-tight text-secondary">
              <a class="text-white p-8" href="http://divisa.design" target="_blank" rel="noopener noreferrer"
                >Co-Founder, Designer &amp; Developer @ Divisa.</a
              >
            </h4>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>
