---
---

<style>
  .active {
    border: solid rgb(255, 255, 255);
    border-width: 1px 1px 0 1px;
    border-radius: 1rem 1rem 0 0px;
    margin-bottom: 0.75rem;
    padding: 0.75rem 2rem 0 2rem;
    position: relative;
    box-shadow: 0px 20px 0px #0a0118;
  }
  .active:before {
    border: solid rgb(255, 255, 255);
    border-width: 1px 1px 0 0px;
    content: '';
    height: 32px;
    left: -25.5px;
    position: absolute;
    width: 20px;
    border-top-right-radius: 40px;
    transform: translateY(63%) rotate(90deg);
    box-shadow: 8px -8px 0px #0a0118;
  }
</style>
<section class="flex relative h-screen pt-16">
  <div class="max-w-5xl w-full mx-auto" id="experience">
    <div class="a-top-1 mx-auto mb-20-60 max-w-7xl rounded-10">
      <div class="flex justify-end w-full">
        <h3 class="uppercase border-t-2 border-r-2 border-white active px-5 py-2">Experience</h3>
      </div>
      <section class="w-full">
        <ul class="mx-10-20 flex flex-col gap-10-20 border-t border-white">
          <li class="relative flex gap-10-20">
            <div
              class="flex basis-1/6 items-center justify-center rounded-10 p-10-20 text-center text-16-40 leading-none text-secondary dark:/10 dark:text-primary"
            >
              2019<br />-<br />2023
            </div><h4
              class="flex basis-full items-center rounded-10 p-10-20 text-16-40 leading-tight text-secondary dark:/10 dark:text-primary"
            >
              <a class="hover:text-tertiary" href="http://divisa.design" target="_blank" rel="noopener noreferrer"
                >Co-Founder, Designer &amp; Developer @ Divisa.</a
              >
            </h4>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>
<script></script>
