---
export interface Props {
  data?: {
    title?: string;
    subtitle?: string;
    isSticky?: boolean;
  };
}
const { data = {} } = Astro.props;
---

<div class={`flex flex-col ${data.isSticky ? 'sticky' : ''} top-8 pb-16`}>
  {
    data.subtitle && (
      <div class="badge animate-on-scroll" data-type="simple" data-duration="1.5" data-easing="Expo.easeOut">
        <span class="badge-text ">{data.subtitle}</span>
      </div>
    )
  }
  {
    data.title && (
      <h2
        class="headingTxt text-center text-[3.5rem] leading-[4rem] animate-on-scroll"
        data-typemouse="link"
        data-type="simple"
        data-duration="1.5"
        data-easing="Expo.easeOut"
        set:html={data.title}
      />
    )
  }
</div>
