---
---

<section class="w-full h-screen relative">
  <div id="cards" class="w-full h-full grid grid-cols-4 grid-rows-6 gap-6">
    <div class="bento flex flex-col border border-transparent row-span-3">
      <div class="bento-content relative p-8">
        <h2 class="text-lg font-bold mb-2 tracking-wide text-neutral-50">HOLA</h2>
        <h3 class="text-sm">Unlock your creativity and bring ideas to life with AI-powered design utilities.</h3>
      </div>
    </div>
    <div class="bento flex flex-col border border-transparent col-span-2 row-span-3">
      <div class="bento-content relative p-8">
        <h2 class="text-lg font-bold mb-2 tracking-wide text-neutral-50">HOLA</h2>
        <h3 class="text-sm">
          Unlock your creativity and bring ideas to life with AI-powered design utilities. and bring ideas to life with
          AI-powered design utilities. and bring ideas to life with AI-powered design utilities.
        </h3>
      </div>
    </div>
    <div class="bento flex flex-col border border-transparent row-span-3 col-start-4">
      <div class="bento-content relative p-8">
        <h2 class="text-lg font-bold mb-2 tracking-wide text-neutral-50">HOLA</h2>
        <h3 class="text-sm">Unlock your creativity and bring ideas to life with AI-powered design utilities.</h3>
      </div>
    </div>
    <div class="bento flex flex-col border border-transparent col-span-2 row-span-3 row-start-4">
      <div class="bento-content relative p-8">
        <h2 class="text-lg font-bold mb-2 tracking-wide text-neutral-50">HOLA</h2>
        <h3 class="text-sm">Unlock your creativity and bring ideas to life with AI-powered design utilities.</h3>
      </div>
    </div>
    <div class="bento flex flex-col border border-transparent col-span-2 row-span-3 col-start-3 row-start-4">
      <div class="bento-content relative p-8">
        <h2 class="text-lg font-bold mb-2 tracking-wide text-neutral-50">HOLA</h2>
        <h3 class="text-sm">Unlock your creativity and bring ideas to life with AI-powered design utilities.</h3>
      </div>
    </div>
  </div>
</section>
