---
---

<section class="w-full h-[150vh]">
  <div class="w-full h-full grid grid-cols-3 grid-rows-12 gap-7">
    <div class="row-span-2 bg-black rounded-md">1</div>
    <div class="row-span-4 bg-black rounded-md col-start-1 row-start-3">3</div>
    <div class="row-span-6 bg-black rounded-md col-start-2 row-start-1">4</div>
    <div class="row-span-4 bg-black rounded-md col-start-3 row-start-1">5</div>
    <div class="row-span-2 bg-black rounded-md col-start-3 row-start-5">6</div>
    <div class="col-span-2 row-span-3 bg-black rounded-md row-start-7">7</div>
    <div class="row-span-3 bg-black rounded-md col-start-3 row-start-7">8</div>
    <div class="row-span-3 bg-black rounded-md row-start-10">9</div>
    <div class="col-span-2 row-span-3 bg-black rounded-md row-start-10">10</div>
  </div>
</section>
