---
import { Picture } from '@astrojs/image/components';

import { BLOG } from '~/config.mjs';
import type { Post } from '~/types';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);
---

<style>
  .borderGlow::before {
    content: '';
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.95) 10%, rgba(0, 0, 0, 0) 60%);
    width: 100%;
    position: relative;
    display: flex;
    height: 0.75px;
  }
  .borderGlow {
    background: radial-gradient(
      40.23% 100% at 20% 0%,
      rgb(25 17 41) 0%,
      rgba(10, 1, 24, 1) 100%,
      rgba(10, 1, 24, 1) 100%
    );
  }
  .borderGlow:hover {
    background: radial-gradient(
      110.23% 95% at 20% 0%,
      rgb(35 24 58) 0%,
      rgba(10, 1, 24, 1) 100%,
      rgba(10, 1, 24, 1) 100%
    );
  }
</style>
<article class="borderGlow mb-6 h-screen rounded-2xl mt-16 border border-[#2d263a]">
  <div class="flex flex-col h-full justify-between">
    <div class="flex flex-row justify-between px-12 pt-14">
      <div class="h-1/6">
        <h3 class="text-3xl font-bold tracking-tighter mb-2">
          {
            BLOG?.post?.disabled ? (
              post.title
            ) : (
              <a href={getPermalink(post.permalink, 'post')} class="headingTxt  ">
                {post.title}
              </a>
            )
          }
        </h3>
        <p class="text-neutral-400 text-lg">{post.excerpt || post.description}</p>
      </div>
      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class=""
          width="2.5rem"
          height="2.5rem"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#a3a3a3"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 12l14 0"></path>
          <path d="M15 16l4 -4"></path>
          <path d="M15 8l4 4"></path>
        </svg>
      </div>
    </div>
    <div class="relative h-5/6 rounded pt-16">
      {
        image && (
          <a href={getPermalink(post.permalink, 'post')}>
            <Picture
              src={image}
              class="object-cover w-5/6 h-full rounded-t-2xl mx-auto"
              widths={[1920]}
              alt={post.title}
              loading="lazy"
              decoding="async"
            />
          </a>
        )
      }
    </div>
  </div>
</article>
