---
import { Picture } from '@astrojs/image/components';

import { BLOG } from '~/config.mjs';
import type { Post } from '~/types';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);
---

<article class="mb-6 h-screen bg-slate-400">
  <div class="flex flex-col h-full justify-between">
    <div class="h-2/6">
      <h3 class="mb-2 text-xl font-bold leading-tight sm:text-2xl font-heading">
        {
          BLOG?.post?.disabled ? (
            post.title
          ) : (
            <a
              href={getPermalink(post.permalink, 'post')}
              class="hover:text-primary dark:hover:text-blue-700  transition ease-in duration-200"
            >
              {post.title}
            </a>
          )
        }
      </h3>
      <p class="text-muted text-lg">{post.excerpt || post.description}</p>
    </div>
    <div class="relative h-4/6 rounded">
      {
        image && (
          <a href={getPermalink(post.permalink, 'post')}>
            <Picture
              src={image}
              class="object-cover w-4/5 h-full rounded mx-auto"
              widths={[1920]}
              alt={post.title}
              loading="lazy"
              decoding="async"
            />
          </a>
        )
      }
    </div>
  </div>
</article>
