---
import { Picture } from '@astrojs/image/components';

import { BLOG } from '~/config.mjs';
import type { Post } from '~/types';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);
---

<article class="mb-6 h-screen rounded-2xl mt-16 border border-[#2d263a]">
  <div class="flex flex-col h-full justify-between">
    <div class="h-1/6 pl-12 pt-14">
      <h3 class="text-3xl font-bold tracking-tighter mb-2">
        {
          BLOG?.post?.disabled ? (
            post.title
          ) : (
            <a href={getPermalink(post.permalink, 'post')} class="headingTxt  ">
              {post.title}
            </a>
          )
        }
      </h3>
      <p class="text-neutral-400 text-lg">{post.excerpt || post.description}</p>
    </div>
    <div class="relative h-5/6 rounded pt-16">
      {
        image && (
          <a href={getPermalink(post.permalink, 'post')}>
            <Picture
              src={image}
              class="object-cover w-5/6 h-full rounded-t-2xl mx-auto"
              widths={[1920]}
              alt={post.title}
              loading="lazy"
              decoding="async"
            />
          </a>
        )
      }
    </div>
  </div>
</article>
