---
import Grid from '~/components/blog/Grid.astro';
import { findLatestPosts } from '~/utils/blog';
import TitleCentered from '../widgets/TitleCentered.astro';

export interface Props {
  title?: string;
  allPostsText?: string;
  allPostsLink?: string | URL;
  information?: string;
}

const { title, count = 4 } = Astro.props;

const posts = await findLatestPosts({ count });
---

<section class="px-4 py-16 mx-auto max-w-5xl lg:py-20" id="experiencia">
  <TitleCentered
    data={{
      title: title,
      subtitle: 'Pre titulo',
      isSticky: false,
    }}
  />
  <Grid posts={posts} />
</section>
