---
const { postIndex } = Astro.props;
---

<aside
  class="sticky top-32 h-0 hidden md:w-[9vw] lg:w-[14vw] 2xl:w-[9vw] 3xl:w-[12vw] ml-auto md:flex flex-col items-center z-50"
>
  <div class="flex flex-col items-start">
    <ul class="pt-5">
      {
        postIndex.map((item) => (
          <li class="flex flex-row items-center pb-4 magnetic" data-strength="0.5">
            <span class="text-xs">
              <a class="post-index-link text-gray-400 cursor-none" href={`#${item.toLowerCase().replace(/\s+/g, '')}`}>
                {item}
              </a>
            </span>
          </li>
        ))
      }
    </ul>
  </div>
</aside>
<script>
  import { gsap } from 'gsap';
  let lastAnimatedLink: Element | null = null;

  function isSectionAtTop(el: Element, thresholdPercentage: number = 20): boolean {
    const rect = el.getBoundingClientRect();
    const threshold = window.innerHeight * (thresholdPercentage / 100);
    return rect.top <= threshold && rect.bottom >= threshold;
  }

  function updateIndexAnimation() {
    const postIndex = Array.from(document.querySelectorAll('.post-index-link')).map(
      (link) => link.getAttribute('href')?.replace('#', '') ?? ''
    );

    postIndex.forEach((item) => {
      const section = document.getElementById(item);
      const link = document.querySelector(`a[href="#${item}"]`) as Element | null;

      if (section && link && isSectionAtTop(section, 10)) {
        if (lastAnimatedLink && lastAnimatedLink !== link) {
          gsap.to(lastAnimatedLink, {
            clearProps: 'all',
            duration: 0.3,
            ease: 'Expo.easeOut',
          });
        }

        gsap.to(link, {
          color: '#fff',
          marginLeft: '0.25rem',
          duration: 0.5,
          delay: 0.3,
          ease: 'Expo.easeOut',
        });
        lastAnimatedLink = link;
      }
    });
  }

  document.addEventListener('DOMContentLoaded', updateIndexAnimation);
  window.addEventListener('scroll', updateIndexAnimation);
</script>
