---
const { cards } = Astro.props;
const cardsJson = JSON.parse(JSON.stringify(cards));

import { YouTube } from '@astro-community/astro-embed-youtube';
import { Icon } from 'astro-icon/components';
---

<section class="h-full mt-16 mb-20">
  <div class="grid grid-cols-2 gap-7 gap-y-14">
    {
      Object.values(cardsJson).map((card: any, index) => (
        <div
          class="flex flex-col border border-[#f2f2f248] rounded-2xl overflow-hidden animate-on-scroll"
          data-type="simple"
          data-delay={`${0.15 + index * 0.1}`}
          data-duration="2.5"
          data-easing="Expo.easeOut"
        >
          <div class="flex h-[17vh] 2xl:h-[40vh]">
            <YouTube
              class="w-full cursor-none custom-mouse shadow-[inset_0px_-240px_120px_-100px_#0a0118]"
              data-typemouse="play"
              id={card.url}
              playlabel="Play the video"
            />
          </div>
          <div class="flex flex-col postCardBorderGlow">
            {Object.values(card.info).map((info: any) => (
              <div class="flex px-8 py-5 last:pb-10 first:pt-10 justify-start items-center">
                <Icon name={info.icon} class="text-2xl mr-6 text-white" />
                <p class="text-pretty text-sm">{info.text}</p>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
