---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
const { data } = Astro.props;
const imagePath = import.meta.glob<{ default: ImageMetadata }>('/src/assets/works/*.{jpeg,jpg,png,gif}');
const imageSrc = imagePath[`/src/assets/works${data.path}`]();
---

<section id="nextSection" class="w-full h-[50vh]">
  <div class="flex h-full justify-center items-end">
    <div class="flex w-full justify-center items-center absolute -z-10">
      <Image
        id="image"
        class="rounded-2xl w-1/2"
        alt="{`Imagen del}"
        widths={[275, 475, 575, 1050, 1250]}
        sizes={`(max-width: 550px) 275px, (max-width: 750px) 475px, (max-width: 950px) 575px,(max-width: 1920px) 1050px, (max-width: 2560px) 1250px,`}
        quality={'mid'}
        format="avif"
        loading="lazy"
        src={imageSrc}
        decoding="async"
      />
    </div>
    <div class="glowLine w-full h-[25vh] bg-[#0a0118]"></div>
  </div>
</section>
