---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

const { mediaFiles } = Astro.props;

const imagePaths = mediaFiles.images.map((image) => image.replace('../../', '/src/'));
const imageSources = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/*.{jpeg,jpg,png,gif}');
---

{/* Sección para Imágenes */}
<div class="grid grid-cols-2 grid-rows-12 gap-4">
  {
    imagePaths.map((imagePath, index) => {
      const imageSrc = imageSources[imagePath]();

      const spanClass = [
        'row-span-4', // Primeras dos imágenes
        'row-span-8 row-start-5', // Tercera imagen
        'row-span-4 row-start-5', // Cuarta imagen
        'row-span-4 col-start-2 row-start-9', // Quinta imagen
      ][index % 5]; // Repetir patrón para más de 5 imágenes

      return (
        <div class={spanClass}>
          <Image class="rounded-3xl" alt="Imagen" src={imageSrc} loading="lazy" decoding="async" />
        </div>
      );
    })
  }
</div>

{/* Sección para Vídeos */}
<div id="cards" class="grid grid-cols-5 grid-rows-12 gap-8 h-[150vh]">
  {
    mediaFiles.videos.map((videoSrc, index) => {
      const spanClass = [
        'col-span-3 row-span-4',
        'col-span-2 row-span-4 col-start-4',
        'col-span-2 row-span-4 row-start-5',
        'col-span-3 row-span-4 col-start-3 row-start-5',
        'col-span-5 row-span-4 row-start-9',
      ][index % 5];

      return (
        <div class={`bento ${spanClass}`}>
          <div class="bento-content h-full w-full rounded-xl overflow-hidden">
            <div class="w-full h-full absolute z-10 bento-text-container flex items-end justify-end">
              <div class="py-6 px-12 text-end">
                <p class="text-gray-400 font-semibold mb-1">3d Modeling and Texturing </p>
                <p class="text-white text-sm ">By: Carlos Bea</p>
              </div>
            </div>
            <video class="object-cover h-full w-full -z-10" src={videoSrc} autoplay muted playsinline loop />
          </div>
        </div>
      );
    })
  }
</div>
