---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import { getPermalink } from '../../utils/permalinks';
const { data } = Astro.props;
const imagePath = import.meta.glob<{ default: ImageMetadata }>('/src/assets/works/*.{jpeg,jpg,png,gif}');
const imageSrc = imagePath[`/src/assets/works${data.path}`]();
---

<section
  class="nextSection w-full h-[40vh] md:h-[75vh] relative z-50 custom-mouse overflow-hidden"
  data-typemouse="link"
  id="nextproject"
>
  <a
    id="nextSection"
    href={getPermalink(data.nextUrl)}
    class="w-full h-[inherit] absolute flex justify-center items-center z-50 cursor-none"
  >
  </a>
  <div class="customBg absolute w-full h-[inherit] z-10 flex justify-center items-center">
    <h2 id="nextProjectMobile" class="text-3xl font-semibold translate-y-96 text-white">NEXT</h2>
  </div>
  <div class="flex h-full justify-center items-end relative">
    <div id="canvas-container" class="absolute bottom-0 w-3/4 h-[65vh] opacity-0">
      <canvas id="canvas"></canvas>
    </div>

    <div class="flex w-full justify-center items-center absolute -z-10">
      <Image
        id="image"
        class="rounded-t-xl md:rounded-t-2xl translate-y-28 md:translate-y-0 aspect-[15/16] md:aspect-auto w-3/4 md:w-1/2 md:saturate-50 object-cover"
        alt={`Next project: ${imageSrc}`}
        widths={[350, 475, 575, 1050, 1250]}
        sizes={`(max-width: 550px) 350px, (max-width: 750px) 475px, (max-width: 950px) 575px,(max-width: 1920px) 1050px, (max-width: 2560px) 1250px,`}
        quality={'mid'}
        loading="lazy"
        src={imageSrc}
        decoding="async"
      />
    </div>

    <div class="focus absolute"></div>

    <div class="glowLine w-full h-[12.5vh] md:h-[25vh] bg-[#0a0118] z-20">
      <div class="glowShadow w-full h-full"></div>
    </div>
  </div>
</section>
