---
const { postIndex } = Astro.props;
---

<aside class="sticky top-32 px-12 h-0 w-full flex flex-col items-end">
  <div class="flex flex-col items-start">
    <h2 class="text-sm">INDEX</h2>
    <ul class="pt-5">
      {
        postIndex.map((item) => (
          <li class="flex flex-row items-center pb-4">
            <h3 class="text-xs">
              <a class="post-index-link" href={`#${item.toLowerCase().replace(/\s+/g, '')}`}>
                {item}
              </a>
            </h3>
          </li>
        ))
      }
    </ul>
  </div>
</aside>
<script>
  import { gsap } from 'gsap';

  let lastAnimatedLink: Element | null = null;

  function isSectionAtTop(el: Element): boolean {
    const rect = el.getBoundingClientRect();
    return rect.top <= 0 && rect.top + rect.height >= 0;
  }

  function updateIndexAnimation() {
    const postIndex = Array.from(document.querySelectorAll('.post-index-link')).map(
      (link) => link.getAttribute('href')?.replace('#', '') ?? ''
    );

    postIndex.forEach((item) => {
      const section = document.getElementById(item);
      const link = document.querySelector(`a[href="#${item}"]`) as Element | null;

      if (section && link && isSectionAtTop(section)) {
        if (lastAnimatedLink && lastAnimatedLink !== link) {
          gsap.to(lastAnimatedLink, {
            clearProps: 'all',
            duration: 0.3,
            ease: 'Expo.easeOut',
          });
        }

        gsap.to(link, {
          scale: 1.5,
          color: '#fff',
          duration: 0.3,
          ease: 'Expo.easeOut',
        });
        lastAnimatedLink = link;
      }
    });
  }

  document.addEventListener('DOMContentLoaded', updateIndexAnimation);
  window.addEventListener('scroll', updateIndexAnimation);
</script>
