---
const { cards } = Astro.props;

// Convertimos la propiedad cards a JSON
const cardsJson = JSON.parse(JSON.stringify(cards));

import { YouTube } from '@astro-community/astro-embed-youtube';
import { Icon } from 'astro-icon/components';
---

<section class="h-full mt-10 mb-20">
  <div class="grid grid-cols-2 gap-6 gap-y-16">
    {
      Object.values(cardsJson).map((card) => (
        <div class="flex flex-col border border-[#f2f2f248] rounded-2xl overflow-hidden">
          <div class="flex h-[40vh]">
            <YouTube
              class="w-full cursor-none custom-mouse shadow-[inset_0px_-240px_120px_-100px_#0a0118]"
              data-typemouse="play"
              id={card.url}
              playlabel="Play the video"
            />
          </div>
          <div class="flex flex-col postCardBorderGlow">
            {Object.values(card.info).map((info) => (
              <div class="flex px-8 pb-6 pt-12 justify-between items-center">
                <Icon name={info.icon} class="text-3xl mr-6 text-white" />
                <p class="text-pretty text-sm">{info.text}</p>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
