---
interface InfoProps {
  excerpt: string;
  duration: string;
  rol: string;
  status: string;
}

const { excerpt, duration, rol, status } = Astro.props as InfoProps;
---

<div class="mx-auto py-36">
  <div class="flex flex-col md:flex-row justify-between">
    <div class="md:w-1/3">
      <div class="mb-14">
        <h2 class="text-base font-bold mb-2 text-white">My Role</h2>
        <p class="text-sm">{rol}</p>
      </div>
      <div>
        <h2 class="text-base font-bold mb-2 text-white">Estatus & Duración</h2>
        <p class="text-sm">
          <b
            class={`uppercase ${
              status.toLowerCase() === 'done'
                ? 'text-green-500'
                : status.toLowerCase() === 'in progress'
                ? 'text-yellow-500'
                : ''
            }`}
          >
            {status}
          </b> - {duration}
        </p>
      </div>
    </div>

    <div class="md:w-1/2">
      <div class="mb-10">
        <h2 class="text-base font-bold mb-2 text-white">Resumen</h2>
        <p class="text-sm">
          {excerpt}
        </p>
      </div>
    </div>
  </div>
</div>
