---
import { Image } from 'astro:assets';
import { getAltTxt } from '~/utils/images';
interface CardProps {
  cardMedia: string;
}

const { cardMedia } = Astro.props as CardProps;
const images = import.meta.glob('/src/assets/images/works/*.{jpeg,jpg,png,gif}');
const altTxt = getAltTxt(cardMedia);
---

<section class="bg-black w-full h-screen">
  <Image
    class="z-20 absolute"
    alt={altTxt}
    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
    loading="lazy"
    width={1024}
    height={1024}
    src={images[cardMedia]()}
    decoding="async"
  />
</section>
