---
interface CardProps {
  title: string;
  preTitle: string;
}

const { title, preTitle } = Astro.props as CardProps;
---

<div class="relative cardBorderGlow w-full mt-28" data-typemouse="link">
  <div class="bgCardGradient absolute top-0 h-full w-full"></div>
  <div class="flex flex-col justify-between items-start z-10 relative">
    <div
      class="flex items-center pb-5 pt-16 animate-on-scroll"
      data-type="simple"
      data-delay="0"
      data-duration="2.5"
      data-easing="Expo.easeOut"
    >
      <div class="w-2 h-2 mr-3 bg-white rounded-full border border-white shadow-[0_0_20px_0_#fff]"></div>
      <div class="flex justify-center items-center rounded-full uppercase text-sm text-gray-40000">{preTitle}h</div>
    </div>
    <h2
      class="text-5xl font-bold pb-16 tracking-tighter headingTxt text-left animate-on-scroll"
      data-type="simple"
      data-delay="0.1"
      data-duration="2.5"
      data-easing="Expo.easeOut"
    >
      {title}
    </h2>
  </div>
</div>
