---
---

<div class="mx-auto px-4 py-8">
  <div class="flex flex-col md:flex-row justify-between space-y-8 md:space-y-0">
    <!-- Columna Izquierda -->
    <div class="md:w-1/3">
      <div class="mb-10">
        <h2 class="text-xl font-bold mb-1">Mi rol</h2>
        <p class="text-base">UX Lead — Interaction Design, Visual Design, User Flows, Rapid Prototyping</p>
      </div>
      <div>
        <h2 class="text-xl font-bold mb-1">Duración & Estatus</h2>
        <p class="text-base">2 Months, Launched in January 2023</p>
      </div>
    </div>

    <!-- Columna Derecha -->
    <div class="md:w-1/2">
      <div class="mb-10">
        <h2 class="text-xl font-bold mb-1">Resumen</h2>
        <p class="text-base">
          Following the announcement of Stadia's shutdown, questions remained on what would happen with the platform's
          Wi-Fi proprietary controller — whether they could still be used wirelessly, or become e-waste.
        </p>
      </div>
    </div>
  </div>
</div>
