---
// Importaciones necesarias
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { getAltTxt } from '~/utils/images';

// Definición de la interfaz para las propiedades
interface CardProps {
  cardMedia: string;
}

const { cardMedia } = Astro.props as CardProps;
const altTxt = getAltTxt(cardMedia);
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/works/*.{jpeg,jpg,png,gif}');
const getImage = await images[cardMedia]();
const myImage = getImage.default;
---

<style>
  .bgGradient {
    background: radial-gradient(
      110.23% 95% at 20% 0%,
      var(--gradient-base-color) 0%,
      var(--adjusted-color1) 50%,
      transparent 100%
    );
    transition: 0.3s ease-in-out;
  }
</style>
<article class="animate-on-scroll" data-type="simple" data-delay="0" data-duration="2.5" data-easing="Expo.easeOut">
  <div
    class="cursor-none custom-mouse relative borderGlow mb-6 w-full h-screen rounded-2xl mt-16 border border-[#2d263a] overflow-hidden"
    data-typemouse="link"
  >
    <div class="bgGradient absolute top-0 h-full w-full rounded-2xl border border-[#716882]"></div>
    <div class="flex flex-col h-full justify-between z-10 relative">
      <div class="flex flex-row justify-between px-12 pt-14">
        <div class="h-1/6">
          <h3
            class="text-3xl font-bold tracking-tighter mb-2 headingTxt text-left animate-on-scroll"
            data-type="simple"
            data-delay="0.1"
            data-duration="2.5"
            data-easing="Expo.easeOut"
          >
            dsd
          </h3>
          <p
            class="text-neutral-400 text-lg animate-on-scroll"
            data-type="simple"
            data-delay="0.15"
            data-duration="2.5"
            data-easing="Expo.easeOut"
          >
            sdfsdf
          </p>
        </div>
        <div class="flex items-center text-neutral-400">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="arrow-right"
            width="2.5rem"
            height="2.5rem"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentcolor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 12l14 0"></path>
            <path d="M15 16l4 -4"></path>
            <path d="M15 8l4 4"></path>
          </svg>
        </div>
      </div>
      <div
        class="relative h-5/6 rounded pt-16 animate-on-scroll"
        data-type="simple"
        data-delay="0.35"
        data-duration="2"
        data-easing="Expo.easeOut"
      >
        <Image
          class="rounded-3xl"
          alt={altTxt}
          widths={[275, 475, 575, 1050, 1250]}
          sizes={`(max-width: 550px) 275px, (max-width: 750px) 475px, (max-width: 950px) 575px,(max-width: 1920px) 1050px, (max-width: 2560px) 1250px,`}
          quality={'mid'}
          format="avif"
          loading="lazy"
          src={myImage}
          decoding="async"
        />
      </div>
    </div>
  </div>
</article>
