---
const { url } = Astro.props;
import { YouTube } from '@astro-community/astro-embed-youtube';
---

<section class="h-full pt-10 pb-20 custom-mouse" data-typemouse="play">
  <YouTube class="w-full min-w-full" id={url} playlabel="Play the video" />
</section>
