---
const { url1, url2, url3, url4 } = Astro.props;
import { YouTube } from '@astro-community/astro-embed-youtube';
import { Icon } from 'astro-icon/components';
---

<section class="h-full mt-10 mb-20">
  <div class="grid grid-cols-2 gap-6 gap-y-16">
    <div class="flex flex-col border border-[#f2f2f248] rounded-2xl overflow-hidden">
      <div class="flex h-[40vh]">
        <YouTube
          class="w-full cursor-none custom-mouse shadow-[inset_0px_-240px_120px_-100px_#0a0118]"
          data-typemouse="play"
          id={url1}
          playlabel="Play the video"
        />
      </div>
      <div class="flex flex-col postCardBorderGlow">
        <div class="flex px-8 pb-6 pt-12 justify-between items-center">
          <Icon name="calendarTime" class="text-3xl mr-6 text-white" />
          <p class="text-pretty text-sm">
            Focus is put on the process as a whole — motivates users to complete the update
          </p>
        </div>
        <div class="flex px-8 py-6 justify-between items-center">
          <Icon name="eye" class="text-3xl mr-6 text-white" />
          <p class="text-pretty text-sm">
            Focus is put on the process as a whole — motivates users to complete the update
          </p>
        </div>
        <div class="flex px-8 py-6 justify-between items-center">
          <Icon name="thumbUp" class="text-3xl mr-6 text-white" />
          <p class="text-pretty text-sm">
            Focus is put on the process as a whole — motivates users to complete the update
          </p>
        </div>
        <div class="flex px-8 pb-12 pt-6 justify-between items-center">
          <Icon name="message-circle" class="text-3xl mr-6 text-white" />
          <p class="text-pretty text-sm">
            Focus is put on the process as a whole — motivates users to complete the update
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col border border-[#f2f2f248] rounded-2xl overflow-hidden">
      <div class="flex h-[40vh]">
        <YouTube
          class="w-full cursor-none custom-mouse shadow-[inset_0px_-240px_120px_-100px_#0a0118]"
          data-typemouse="play"
          id={url2}
          playlabel="Play the video"
        />
      </div>
      <div class="flex flex-col postCardBorderGlow">
        <div class="flex px-8 pb-6 pt-12 justify-between items-center">
          <Icon name="calendarTime" class="text-3xl mr-6 text-white" />
          <p class="text-pretty text-sm">
            Focus is put on the process as a whole — motivates users to complete the update
          </p>
        </div>
        <div class="flex px-8 py-6 justify-between items-center">
          <Icon name="eye" class="text-3xl mr-6 text-white" />
          <p class="text-pretty text-sm">
            Focus is put on the process as a whole — motivates users to complete the update
          </p>
        </div>
        <div class="flex px-8 py-6 justify-between items-center">
          <Icon name="thumbUp" class="text-3xl mr-6 text-white" />
          <p class="text-pretty text-sm">
            Focus is put on the process as a whole — motivates users to complete the update
          </p>
        </div>
        <div class="flex px-8 pb-12 pt-6 justify-between items-center">
          <Icon name="message-circle" class="text-3xl mr-6 text-white" />
          <p class="text-pretty text-sm">
            Focus is put on the process as a whole — motivates users to complete the update
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col border border-[#f2f2f248] rounded-2xl overflow-hidden">
      <div class="flex h-[40vh]">
        <YouTube
          class="w-full cursor-none custom-mouse shadow-[inset_0px_-240px_120px_-100px_#0a0118]"
          data-typemouse="play"
          id={url3}
          playlabel="Play the video"
        />
      </div>
      <div class="flex flex-col postCardBorderGlow">
        <div class="flex px-8 pb-6 pt-12 justify-between items-center">
          <Icon name="calendarTime" class="text-3xl mr-6 text-white" />
          <p class="text-pretty text-sm">
            Focus is put on the process as a whole — motivates users to complete the update
          </p>
        </div>
        <div class="flex px-8 py-6 justify-between items-center">
          <Icon name="eye" class="text-3xl mr-6 text-white" />
          <p class="text-pretty text-sm">
            Focus is put on the process as a whole — motivates users to complete the update
          </p>
        </div>
        <div class="flex px-8 py-6 justify-between items-center">
          <Icon name="thumbUp" class="text-3xl mr-6 text-white" />
          <p class="text-pretty text-sm">
            Focus is put on the process as a whole — motivates users to complete the update
          </p>
        </div>
        <div class="flex px-8 pb-12 pt-6 justify-between items-center">
          <Icon name="message-circle" class="text-3xl mr-6 text-white" />
          <p class="text-pretty text-sm">
            Focus is put on the process as a whole — motivates users to complete the update
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col border border-[#f2f2f248] rounded-2xl overflow-hidden">
      <div class="flex h-[40vh]">
        <YouTube
          class="w-full cursor-none custom-mouse shadow-[inset_0px_-240px_120px_-100px_#0a0118]"
          data-typemouse="play"
          id={url4}
          playlabel="Play the video"
        />
      </div>
      <div class="flex flex-col postCardBorderGlow">
        <div class="flex px-8 pb-6 pt-12 justify-between items-center">
          <Icon name="calendarTime" class="text-3xl mr-6 text-white" />
          <p class="text-pretty text-sm">
            Focus is put on the process as a whole — motivates users to complete the update
          </p>
        </div>
        <div class="flex px-8 py-6 justify-between items-center">
          <Icon name="eye" class="text-3xl mr-6 text-white" />
          <p class="text-pretty text-sm">
            Focus is put on the process as a whole — motivates users to complete the update
          </p>
        </div>
        <div class="flex px-8 py-6 justify-between items-center">
          <Icon name="thumbUp" class="text-3xl mr-6 text-white" />
          <p class="text-pretty text-sm">
            Focus is put on the process as a whole — motivates users to complete the update
          </p>
        </div>
        <div class="flex px-8 pb-12 pt-6 justify-between items-center">
          <Icon name="message-circle" class="text-3xl mr-6 text-white" />
          <p class="text-pretty text-sm">
            Focus is put on the process as a whole — motivates users to complete the update
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
