<div id="esfera-container">
  <div id="esfera">
    <p id="welcome">Hols</p>
    <svg width="0" height="0">
      <defs>
        <filter id="motionBlur">
          <feGaussianBlur in="SourceGraphic" stdDeviation="0 0"></feGaussianBlur>
        </filter>
      </defs>
    </svg>
  </div>
  <div class="semicircle"></div>
</div>
