@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-page {
    color: var(--aw-color-text-page);
  }

  .text-muted {
    color: var(--aw-color-text-muted);
  }

  .bg-light {
    background-color: var(--aw-color-bg-page);
  }

  .bg-dark {
    @apply bg-slate-900;
  }

  .btn {
    @apply inline-flex items-center justify-center rounded-full shadow-md border-gray-400 border bg-transparent font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800;
  }

  .btn-ghost {
    @apply border-none shadow-none text-muted hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
  }

  .btn-primary {
    @apply font-semibold bg-primary text-white border-primary hover:bg-blue-900 hover:border-blue-900 hover:text-white dark:text-white dark:bg-primary dark:border-primary dark:hover:border-blue-900 dark:hover:bg-blue-900;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
/*----ESFERA----*/
#esfera {
  position: fixed;
  display: flex;
  width: 6rem;
  height: 6rem;
  left: -3%;
  top: calc(-5% + (100vh * 0.01));
  background-color: blue;
  color: #fff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  transform: translate(50vw, 60vh);
  opacity: 0;
}
#welcome {
  animation: rotateSmooth 0.75s ease-in-out infinite alternate, disapearWelcome 0.5s ease-in-out both 0.5s;
}
.navGlow {
  background: radial-gradient(55px 100px at 76px bottom, #ffffff24, #0000);
}
.navGlow::after {
  content: '';
  display: block;
  height: 4px;
  width: 24px;
  border-radius: 20px;
  position: absolute;
  bottom: -2px;
  left: 43%;
  background: #fff;
  z-index: -3;
  box-shadow: 0 2px 25px 2px #fff;
}
@keyframes rotateSmooth {
  0% {
    transform: rotate(15deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
@keyframes disapearWelcome {
  100% {
    opacity: 0;
  }
}

/*---TRANSICION----*/
#loading-text-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0118;
  z-index: 999;
}

#loading-text {
  font-size: 24px;
  font-weight: bold;
}

/*----CARDS----*/

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  box-shadow: inset 0px 200px 50px -20px rgb(255 255 255 / 10%);
  background-color: rgba(255, 255, 255, 2%);
  border-radius: 16px;
  display: flex;
  height: 30vh;
  flex-direction: column;
  position: relative;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: '';
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}
.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.08),
    transparent 30%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    15rem circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.75),
    transparent 80%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: rgb(10, 1, 24);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px 1px 1px 1px;
  position: absolute;
  z-index: 2;
}

i {
  color: rgb(240, 240, 240);
}

.card-image {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 16px 16px 0px;
}
.card-image img {
  width: 100%;
  height: 100%;
}
.card-image > i {
  font-size: 6em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info > i {
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}
audio {
  width: 300px;
}

#play-button,
#pause-button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#progress-bar {
  width: 80%;
  margin-left: 1rem;
  height: 2px;
  border-radius: 1rem;
  background-color: #919191;
}

#progress {
  height: 2px;
  border-radius: 1rem;
  background-color: #ffffff;
  width: 0;
}
.portal-glow {
  box-shadow: inset 54px 0px 47px -48px #2564eb84;
  border-left: 2px solid #0051ff;
  transition: 0.2s all ease-in-out;
}
.portal-glow:hover {
  border-left: 4px solid #2c6fff;
  box-shadow: inset 64px 0px 47px -48px #3877ff;
  transition: 0.2s all ease-in-out;
}
#stickman {
  animation: left-right 0.75s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  transform: translate(60px, -80px) skewY(330deg);
}
@keyframes left-right {
  0% {
    opacity: 0;
    transform: translate(50px, -50px) skewY(330deg);
  }
  35% {
    opacity: 0.85;
  }
  85% {
    transform: translate(0px, 0px) skewY(330deg);
  }
  100% {
    opacity: 0;
    transform: translate(0px, 0px) skewY(330deg);
  }
}
/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media (max-width: 1000px) {
  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media (max-width: 500px) {
  .card {
    height: 180px;
  }

  .card-image {
    height: 80px;
  }

  .card-image > i {
    font-size: 3em;
  }

  .card-info-wrapper {
    padding: 0px 10px;
  }

  .card-info > i {
    font-size: 0.8em;
  }

  .card-info-title > h3 {
    font-size: 0.9em;
  }

  .card-info-title > h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}

@media (max-width: 320px) {
  .card {
    width: 100%;
  }
}

/*---TITLE CENTER CSS----*/
.badge {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 7px 11px #a48fff1f;
  display: flex;
  margin: 0 auto 12px;
  padding: 6px 14px 6px 15px;
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
.badge::after {
  background: linear-gradient(
    180deg,
    rgba(229, 156, 255, 0.24) 0.01%,
    rgba(186, 156, 255, 0.24) 50.01%,
    rgba(156, 178, 255, 0.12) 100%
  );
  border-radius: inherit;
  content: '';
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute;
}
.badge-text {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 15%, rgba(0, 0, 0, 0.4)),
    linear-gradient(90deg, #dd81ff 0.01%, #a882ff 50.01%, #7e9aff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headingTxt {
  background: linear-gradient(180deg, #fff 22.5%, rgba(255, 255, 255, 0.7) 100%);

  text-align: center;
  font-weight: 600;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
